main {
  max-width: 2048px;
  margin: auto;
  background-color: #f7f7f7;
}
main #main_card_story {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #main_card_story #card_logo {
  width: 40%;
}
main #main_card_story #card_logo img {
  width: 100%;
}
main #main_card_story #card_logo a {
  display: none;
}
main #main_card_story #card_story {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main #main_card_story #card_story h2 {
  color: #003b8f;
  margin: 5px;
}
main #main_card_story #card_story p {
  margin: 0;
  width: 80%;
  text-align: justify;
  font-size: 1.2em;
  font-weight: 300;
}
main #main_card_story #card_mission {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
  margin-bottom: 10px;
}
main #main_card_story #card_mission div {
  width: 29%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 1px rgb(196, 196, 196);
  padding: 8px;
}
main #main_card_story #card_mission div h1 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0px;
}
main #main_card_story #card_mission div p {
  width: 100%;
  margin: 0;
  font-size: 0.9rem;
  text-align: justify;
}
main #main_card_photos {
  width: 100%;
  margin: 40px 0;
  box-shadow: 0 1px 5px rgb(87, 87, 87);
  background-color: #161316;
}
main #main_card_photos h1 {
  text-transform: uppercase;
  color: white;
  text-shadow: 0 1px 5px black;
}
main #main_card_photos #main_card_photos_container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}
main #main_card_photos #main_card_photos_container div {
  width: 300px;
  height: 200px;
  background-color: white;
  text-align: center;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  overflow: hidden;
  cursor: pointer;
}
main #main_card_photos #main_card_photos_container div img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
main #main_card_photos #main_card_photos_container div img:hover {
  scale: 1.1;
}
main #main_card_team {
  width: 100%;
  padding-bottom: 40px;
  margin: 0 auto;
  background-color: #ffffff;
}
main #main_card_team h1 {
  color: #000000;
  text-shadow: 0 1px 2px rgb(0, 0, 0);
}
main #main_card_team #main_card_container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}
main #main_card_team #main_card_container #main_card_team_peaple {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 2px rgba(150, 150, 150, 0.77);
  overflow: hidden;
  background: rgb(255, 255, 255);
  transition: 0.3s;
  gap: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #main_card_team #main_card_container #main_card_team_peaple:hover {
  scale: 1.04;
}
main #main_card_team #main_card_container #main_card_team_peaple h3 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 2em;
  font-weight: bold;
  text-shadow: 0 1px 2px rgb(82, 82, 82);
  margin: 10px;
}
main #main_card_team #main_card_container #main_card_team_peaple div:last-child {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
main #main_card_team #main_card_container #main_card_team_peaple div:last-child i {
  line-height: 1em;
  cursor: pointer;
  color: #151315;
  text-shadow: 0 1px 2px black;
}
main #main_card_team #main_card_container #main_card_team_peaple div:last-child i:hover {
  color: rgb(87, 87, 87);
  transition: 1s;
}
main #main_card_team #main_card_container #main_card_team_peaple img {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
main #main_card_contact {
  max-width: 1920px;
  margin-top: 35px;
  background-color: #151315;
  color: white;
}
main #main_card_contact #main_card_contact_info {
  width: 100%;
  display: flex;
  align-items: center;
}
main #main_card_contact #main_card_contact_info #main_card_contact_img {
  width: 50%;
}
main #main_card_contact #main_card_contact_info #main_card_contact_img a {
  display: none;
}
main #main_card_contact #main_card_contact_info #main_card_contact_form {
  width: 50%;
  display: flex;
  flex-direction: column;
}
main #main_card_contact #main_card_contact_info #main_card_contact_form h1, main #main_card_contact #main_card_contact_info #main_card_contact_form h3 {
  text-align: center;
}
main #main_card_contact #main_card_contact_info #main_card_contact_form h1 {
  margin: 0px;
  padding: 15px;
  color: #0069f8;
  font-weight: bold;
}
main #main_card_contact #main_card_contact_info #main_card_contact_form h3 {
  margin: 0 0 15px 0;
  font-weight: normal;
}
main #main_card_contact #main_card_contact_info #main_card_contact_form form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main #main_card_contact #main_card_contact_info #main_card_contact_form form div {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-bottom: 20px;
}
main #main_card_contact #main_card_contact_info #main_card_contact_form form div label {
  margin-bottom: 5px;
}
main #main_card_contact #main_card_contact_info #main_card_contact_form form div input {
  height: 2.8em;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  font-size: 1em;
}
main #main_card_contact #main_card_contact_info #main_card_contact_form form div textarea {
  padding-left: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1em;
  font-weight: normal;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
main #main_card_contact #main_card_contact_info #main_card_contact_form form button {
  padding: 10px 25px;
  border: solid thin #0069f8;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #0069f8;
  color: white;
  cursor: pointer;
}
main #main_card_contact #main_card_contact_info #main_card_contact_form form button:hover {
  background-color: white;
  color: #0069f8;
  border: solid thin #0069f8;
  transition: 0.5s ease;
}/*# sourceMappingURL=main.css.map */